.center{
    position: absolute;
    top: 200px;
    left: 500px;
    color: #f1f4f1;
}
.task1{
    position: absolute;
    left: 600px;
}
.task2{
    border: 10px solid rgb(8, 153, 197);
    width: 400px;
    height:350px;
    margin-top: 120px;
    margin-left: 120px;
}
.image1{
    margin-top: 30px;
    margin-left: 30px;
}
.containt{
    position: absolute;
    top: 700px;
    left: 650px;
    
}
.ourservices{
    position: absolute;
    top: 1050px;
    left: 620px;


}
.table1{
    position: absolute;
    top: 1110px;
    left: 200px;
}
.table2{
    position: absolute;
    top: 1110px;
    left: 650px;

}
.table3{   
 position: absolute;
top: 1110px;
left: 1100px;
}
.featured{
    position: absolute;
    top: 1250px;
    left: 600px;
}
.set1{
    position: absolute;
    top: 1350px;
    left: 100px;
    background-color: bisque;
    padding-left: 5px;

}

.set2{
    position: absolute;
    top: 1350px;
    left: 600px;
    background-color: bisque;
    padding-left: 5px;
}
.set3{
    position: absolute;
    top: 1350px;
    left: 1000px;
    background-color: bisque;
    padding-left: 5px;
}
.set4{
    position: absolute;
    top: 2000px;
    left: 600px;
    background-color: bisque;
    padding-left: 5px;
}
.table{
    position: absolute;
    top: 2900px;
    left: 100px;
}
.button{
    position: absolute;
    top: 2600px;
    left: 650px;
    padding: 5px;
    width: 50ppx;
    height: 25px;
    background-color: blueviolet;
    border-radius: 5px;
   
}
.information{
    position: absolute;
    top:2700px ;
    padding: 81px  600px;
    background-color: aquamarine;
    display: inline-flex;
}
.info{
    position: absolute;
    top: 30px;
    left: 0;

}