.aboutme{
    background-color: aquamarine;
}
.titleheading{
    background-color: thistle;
}
.footer{
    padding: 60px;
}
.firstboot{
    padding: 80px;
}
.nav-font{
    font-size: xx-large;
    padding: 20px;
}