.name{
	padding-left: 500px;
}
img{
	position: absolute;
	right: 100px;
	top: 160px;
	width: 200px;
	height: 200px;
}

.contact{
	position: static;
	padding-left: 80px;
	
}
body{
	padding: 50px;
	margin-right:10px;
    color: black
}

h1{
	background-color: tan;
	font-size: 50px;	
}

h3{
	padding-left: 60px;
	background-color:black;
	color: white;
	font-size: 25px;
}
h4{
	padding-left: 100px;
	background-color: coral;
	font-size: 20px;
}
ul{
	font-size: xx-large;
}
.Regards{
	padding: 0px;
	margin: 0;	
	position: absolute;
	right: 200px;
}